Repository fp51/store-library, pull requests merged in 2021-04, with the labels that each got.

#73 feat: change listener definition to pass old & new state
  packages/store/CHANGELOG.md
  packages/store/src/index.ts
Labels: Action: major bump, packages/store

#74 store-devtools: update store package
  packages/store-devtools/CHANGELOG.md
  packages/store-devtools/package-lock.json
  packages/store-devtools/package.json
Labels: Action: major bump, packages/store-devtools

#75 store-react: update store to 2.0.0
  packages/store-react/CHANGELOG.md
  packages/store-react/package-lock.json
  packages/store-react/package.json
Labels: Action: major bump, packages/store-react
